<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Web Chat">
    <meta itemprop="description" content="University Of Lagos Web Chat">
    <meta itemprop="name" content="Home Chat">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <title>Home</title>
</head>

<body>
    <div id="app">
        <v-app>
            <v-content>
                <v-container style="height: 100vh;" fluid>
                    <v-row no-gutters>
                        <v-col cols="auto">
                            <side-bar :chats="chats" :chatspreview="chatspreview"
                                @update-current-chat-contents-loaded="loadChatContent" />
                        </v-col>
                        <v-divider vertical></v-divider>
                        <v-col>
                            <chatting-component :currentchatcontentsloaded=" currentChatContentsNotLoaded"
                                :currentchatcontent="currentChatContent" />
                        </v-col>
                    </v-row>
                </v-container>
            </v-content>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        Vue.component('side-bar', {
            props: {
                chats: Array,
                chatspreview: {},
            },

            data: function () {
                return {
                    createRoomDialog: false,

                    createNewRoomName: '',
                    id: ''.concat('(%.Email %)'),
                    uuid: ''.concat("(%.UUID %)"),
                }
            },

            methods: {
                createRoom: function () {
                    console.log("Works" + this.searchText);
                    var jsonString = { "email": this.id, "msgType": "NewRoomCreated", "roomName": this.roomName };
                    jsonString = JSON.stringify(jsonString);
                    socket.send(jsonString);
                    this.createRoomDialog = false;
                    this.roomName = '';
                },
                loadChatContent: function (chatID) {
                    this.$emit("update-current-chat-contents-loaded", chatID);
                },
            },

            template: `(% template "sidebar" .%)`,
        })

        Vue.component('chatting-component', {
            props: {
                currentchatcontentsloaded: Boolean,
                currentchatcontent: Array,
            },

            data: function () {
                return {
                    searchUserTextValue: '',
                    allRegisteredUsers: [],
                    selected: [],
                }
            },

            computed: {
                getUsers: function () {
                    if (this.searchText.length > 6) {
                        var url = location.protocol + "//" + document.location.host + "/search/" + this.id + "/" + this.uuid + "/" + this.searchText
                        console.log(url)
                        axios.get(url)
                            .then((response) => {
                                var obj = JSON.parse(JSON.stringify(response.data));
                                console.log(obj);
                                console.log(obj.Users);
                                this.allRegisteredUsers = obj.AllRegisteredUsers;
                            });
                    } else {
                        this.allRegisteredUsers = [];
                    }
                },
            },

            template: `(% template "chattingComponent" %)`,
        })

        var vueComponent = new Vue({
            el: '#app',

            data: {
                chats: [],
                currentChatContentsNotLoaded: false,
                chatspreview: {},
                currentChatContent: [],
            },

            methods: {
                loadChatContent: function (roomID) {
                    this.currentChatContentsNotLoaded = true
                    var message = { 'msgType': 'RequestAllMessages', "roomID": roomID }
                    socket.send(JSON.stringify(message))
                },
            },

            vuetify: new Vuetify(),
        })
    </script>

    <script>
        socket = new WebSocket("ws://" + document.location.host + "/ws");

        socket.onmessage = function (e) {
            var jsonString = JSON.parse(e.data);
            if (jsonString['msgType'] === "UserJoined") {
                if (jsonString['joined'] === true) {
                    console.log('Joined room');
                    var message = jsonString['user'];
                    message = message + " Joined";
                    if (jsonString['user'] === this.id) {
                        message = "You Joined";
                    }

                    // var content = { "type": "info", "message": message };
                    var roomID = jsonString['roomID'];
                    var roomName = jsonString['roomName'];

                    // vueComponent.chats[roomID] = [];
                    // vueComponent.chats[roomID].push(content);
                    // console.log(vueComponent.chats);
                    vueComponent.chats.push(roomID)
                    vueComponent.chatspreview[roomID] = { "message": message, "roomName": roomName }
                } else {
                    delete vueComponent.chats[jsonString['roomID']];
                }

            } else if (jsonString['msgType'] === "RequestAllMessages") {
                var messageArray = jsonString['messages']
                if (messageArray === null) {
                    return
                }
                vueComponent.currentChatContent = messageArray
                console.log(messageArray)
                vueComponent.currentChatContentsNotLoaded = false
            }
        };

        socket.onopen = function () {
            (% range.UsersRooms %)
            var roomID = ''.concat("(% .RoomID  %)")
            vueComponent.chatspreview[roomID] = { "message": "", "roomName": "(%.RoomName %)" };
            vueComponent.chats.push(''.concat("(% .RoomID  %)"))
                (% end %)
            console.log("websocket opened");
        };

        socket.onclose = function () {
            console.log("websocket closed");
        }
    </script>
</body>

</html>