<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Web Chat">
    <meta itemprop="description" content="University Of Lagos Web Chat">
    <meta itemprop="name" content="Home Chat">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <title>Home</title>
</head>

<body>
    <div id="app">
        <v-app>
            <v-content>
                <template v-if=" $vuetify.breakpoint.smAndDown">
                    <v-row style="height: 100%;" no-gutters>
                        <v-col cols="auto">
                            <v-card height="100%">
                                <v-navigation-drawer :mini-variant="mini" :expand-on-hover="expand" permanent>
                                    <v-list dense nav class="py-0">
                                        <v-list-item two-line class="px-1">
                                            <v-icon @click="drawer=true">mdi-menu</v-icon>
                                        </v-list-item>

                                        <v-divider></v-divider>
                                        <v-list-item></v-list-item>

                                        <v-list-item>
                                            <v-badge overlap color="red" :content="messages.length"
                                                :value="messages.length">
                                                <v-icon @click="openMessageDialog=true">mdi-email</v-icon>
                                            </v-badge>
                                            <v-dialog scrollable v-model="openMessageDialog" width="600px">
                                                <v-card>
                                                    <v-card-title>Messages</v-card-title>
                                                    <v-divider></v-divider>
                                                    <v-card-text style="max-height: 500px;">
                                                        <v-container>
                                                            <span v-if="messages.length==0">No Message</span>
                                                            <v-row>
                                                                <v-col v-for="(message,i) in messages" :key="i"
                                                                    cols="12">
                                                                    <span>{{message.requestingUserName}}
                                                                        ({{message.requestingUserID}}) wants to add
                                                                        you
                                                                        to a room ({{message.roomName}})</span>
                                                                    <v-spacer></v-spacer>
                                                                    <v-btn color="green darken-1"
                                                                        @click="acceptJoinRequest(message.roomID,message.roomName,i)"
                                                                        text>Accept</v-btn>
                                                                    <v-btn color="green darken-1" text>Decline</v-btn>
                                                                </v-col>
                                                            </v-row>
                                                        </v-container>
                                                    </v-card-text>
                                                </v-card>
                                            </v-dialog>
                                        </v-list-item>

                                        <v-list-item>
                                            <v-badge overlap color="white" value=0>
                                                <v-icon @click="createRoomDialog=true">mdi-plus</v-icon>
                                            </v-badge>
                                            <v-dialog v-model="createRoomDialog">
                                                <v-card>
                                                    <v-card-text>
                                                        <v-container fluid>
                                                            <v-row>
                                                                <v-col cols="12">
                                                                    <span>Create New Room</span>
                                                                </v-col>
                                                                <v-col cols="12">
                                                                    <v-text-field label="Specify Room Name"
                                                                        v-model="newRoomName"
                                                                        @keyup.enter.exact="getUsers"></v-text-field>
                                                                </v-col>
                                                                <v-col cols="12">
                                                                    <v-spacer></v-spacer>
                                                                    <v-btn @click="createRoom(newRoomName)"
                                                                        color="green darken-1" text>
                                                                        Create Room</v-btn>
                                                                </v-col>
                                                            </v-row>
                                                        </v-container>
                                                    </v-card-text>
                                                </v-card>
                                            </v-dialog>
                                        </v-list-item>

                                        <v-list-item>
                                            <v-badge overlap color="red"
                                                :content="Object.keys(onreadRoomMessageCount).length"
                                                :value="Object.keys(onreadRoomMessageCount).length">
                                                <v-icon>mdi-account-group-outline</v-icon>
                                            </v-badge>
                                        </v-list-item>
                                    </v-list>
                                </v-navigation-drawer>
                            </v-card>
                            <v-navigation-drawer v-model="drawer" absolute temporary>
                                <side-bar :rooms="rooms" :chatspreview="chatspreview"
                                    @update-current-chat-contents-loaded="loadChatContent"
                                    :onreadroommessagecount="onreadRoomMessageCount" />
                            </v-navigation-drawer>
                        </v-col>

                        <v-col cols="mx-auto">
                            <chatting-component :currentchatcontentsloaded="currentChatContentsNotLoaded"
                                :currentchatcontent="currentChatContent" :currentviewedroomid="currentViewedRoomID"
                                :currentviewedroomname="currentViewedRoomName" :removewelcomepage="removeWelcomePage"
                                :onlineusers="onlineUsers" :usersfound="usersFound" :downloadinfo="downloadInfo" />
                        </v-col>
                    </v-row>
                </template>

                <template v-else>
                    <v-row style="height: 100%;" no-gutters>
                        <v-col cols="auto">
                            <side-bar :rooms="rooms" :chatspreview="chatspreview"
                                @update-current-chat-contents-loaded="loadChatContent"
                                @accept-join-request="acceptJoinRequest" :messages="messages"
                                :createroomdialog="createRoomDialog" @create-room="createRoom"
                                :onreadroommessagecount="onreadRoomMessageCount" />
                        </v-col>
                        <v-divider vertical></v-divider>
                        <v-col cols="mx-auto">
                            <chatting-component :currentchatcontentsloaded=" currentChatContentsNotLoaded"
                                :currentchatcontent="currentChatContent" :currentviewedroomid="currentViewedRoomID"
                                :currentviewedroomname="currentViewedRoomName" :removewelcomepage="removeWelcomePage"
                                :onlineusers="onlineUsers" :usersfound="usersFound" :downloadinfo="downloadInfo" />
                        </v-col>
                    </v-row>
                </template>

                <v-dialog persistent width="400px" v-model="socketClosed">
                    <v-card>
                        <v-card-text>
                            <div align="center" justify="center">
                                <v-row>
                                    <v-col cols="12">
                                        <v-progress-circular indeterminate color="green"></v-progress-circular>
                                    </v-col>
                                    <v-col cols="12">
                                        <span>Websocket disconnected. Reconnecting.</span>
                                    </v-col>
                                </v-row>
                            </div>
                        </v-card-text>
                    </v-card>
                </v-dialog>
            </v-content>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

    <script>
        Vue.component('side-bar', {
            props: {
                rooms: Array,
                chatspreview: {},
                messages: Array,
                onreadroommessagecount: {},
            },

            data: function () {
                return {
                    newRoomName: '',
                    createRoomDialog: false,
                    openMessageDialog: false,
                    name: '(%.Name%)',
                }
            },

            methods: {
                loadChatContent: function (chatID) {
                    this.$emit("update-current-chat-contents-loaded", chatID);
                },

                acceptJoinRequest: function (roomID, roomName, notificationIndex) {
                    this.$emit("accept-join-request", roomID, roomName, notificationIndex);
                },

                createRoom: function () {
                    this.$emit("create-room", this.newRoomName);
                    this.newRoomName = ""
                    this.createRoomDialog = false
                },

            },

            template: `(% template "sidebar" .%)`,
        })

        Vue.component('chatting-component', {
            props: {
                removewelcomepage: Boolean,
                currentchatcontentsloaded: Boolean,
                currentchatcontent: Array,
                currentviewedroomid: String,
                currentviewedroomname: String,
                onlineusers: {},
                downloadinfo: {},
                usersfound: Array,
            },

            data: function () {
                return {
                    addUserDialog: false,
                    showRoomUsersDialog: false,
                    addedUsers: [],
                    selected: [],
                    messageContent: '',
                    searchUserTextValue: '',
                    searchText: '',
                    uuid: ''.concat("(%.UUID %)"),
                    userID: ''.concat('(%.Email %)'),
                    userName: ''.concat('(%.Name %)'),
                }
            },

            methods: {
                exitRoom: function () {
                    var message = {
                        "msgType": "ExitRoom",
                        "roomID": this.currentviewedroomid,
                        "email": '(%.Email %)',
                    }

                    socket.send(JSON.stringify(message))
                    this.showRoomUsersDialog = false
                },

                getUsers: function () {
                    var message = {
                        "msgType": "SearchUser",
                        "searchText": this.searchText,
                    }

                    socket.send(JSON.stringify(message))
                },

                closeSearchDialog: function () {
                    this.searchText = ''
                    this.addUserDialog = false
                    this.addedUsers = []
                    vueComponent.usersFound = []
                },

                requestUsersToJoinRoom: function () {
                    if (this.addedUsers.length === 0) {
                        return
                    }

                    var message = {
                        "msgType": 'RequestUsersToJoinRoom',
                        "users": this.addedUsers,
                        "roomID": this.currentviewedroomid,
                        "roomName": this.currentviewedroomname,
                        "requestingUserName": this.userName,
                        "requestingUserID": this.userID,
                    }

                    message = JSON.stringify(message)
                    socket.send(message)
                    this.closeSearchDialog()
                },

                sendMessage: function () {
                    // Send if it's a file.
                    if (vueComponent.fileContent !== null && vueComponent.fileContent.name === this.messageContent) {
                        vueComponent.downloadInfo[vueComponent.fileContent.name] = { "progress": 0 }
                        var message = vueComponent.fileContent.name
                        vueComponent.currentChatContent.push({
                            "type": "upload",
                            "userID": '(%.Email%)',
                            "message": message,
                            name: '(%.Name%)',
                        })

                        setTimeout(() => {
                            vueComponent.downloadInfo[message].progress = 10
                            Vue.set(vueComponent.currentChatContent, 0, vueComponent.currentChatContent[0])
                            console.log("done")
                        }, (2000));

                        this.messageContent = ""
                        return
                    }

                    if (!this.messageContent.match(/\S/)) {
                        return
                    }

                    var message = {
                        "msgType": "NewMessage",
                        "roomID": this.currentviewedroomid,
                        "message": this.messageContent,
                        "userID": '(%.Email%)', "name": '(%.Name%)',
                        "type": "txt",
                    }

                    socket.send(JSON.stringify(message))
                    this.messageContent = ''
                },

                onFileUpdate: function (e) {
                    var files = e.target.files || e.dataTransfer.files;
                    if (!files.length)
                        return;

                    vueComponent.fileContent = files[0]
                    this.messageContent = vueComponent.fileContent.name
                },

                openFileDialog: function () {
                    document.getElementById('myFileInput').click()
                }
            },

            computed: {
                disableTextField: function () {
                    if (this.messageContent !== null && this.messageContent.length > 1
                        && vueComponent.fileContent !== null) {
                        return true
                    }

                    vueComponent.fileContent = null
                    return false
                }
            },

            template: `(% template "chattingComponent". %)`,
        })

        var vueComponent = new Vue({
            el: '#app',
            data: {
                rooms: [],
                messages: [],
                onreadRoomMessageCount: {},
                currentChatContentsNotLoaded: false,
                createRoomDialog: false,
                openMessageDialog: false,
                removeWelcomePage: false,
                currentViewedRoomID: '',
                currentViewedRoomName: '',
                userID: '(%.Email %)',
                chatspreview: {},
                currentChatContent: [],
                usersFound: [],
                onlineUsers: {},
                downloadCount: 0,
                downloadInfo: {}, //[{ "name": "", "progress": 0, "roomID": "" }],
                fileContent: null,

                drawer: false,
                socketClosed: false,
                expand: false,
                mini: true,
            },

            methods: {
                addToRoomNotification: function (roomID) {
                    if (this.onreadRoomMessageCount[roomID] === undefined) {
                        this.onreadRoomMessageCount[roomID] = 1
                    } else {
                        this.onreadRoomMessageCount[roomID]++
                    }
                },

                removeFromRoomNotification: function (roomID) {
                    if (this.onreadRoomMessageCount[roomID] === undefined || this.onreadRoomMessageCount[roomID] === null) {
                        return
                    }

                    delete this.onreadRoomMessageCount[roomID]
                },

                loadChatContent: function (roomID) {
                    this.removeWelcomePage = true
                    this.currentChatContentsNotLoaded = true
                    var message = {
                        'msgType': 'RequestAllMessages',
                        "roomID": roomID
                    }
                    socket.send(JSON.stringify(message))
                    this.currentViewedRoomID = roomID
                },

                removeMessage: function (notificationIndex) {
                    this.messages.splice(notificationIndex, 1)
                },

                createRoom: function (roomName) {
                    var jsonContent = {
                        "email": this.userID,
                        "msgType": "NewRoomCreated",
                        "roomName": roomName
                    };

                    jsonContent = JSON.stringify(jsonContent);
                    socket.send(jsonContent);
                    this.createRoomDialog = false;
                    roomName = ""
                },

                acceptJoinRequest: function (roomID, roomName, notificationIndex) {
                    var message = {
                        "joined": true,
                        "roomID": roomID,
                        "roomName": roomName,
                        "msgType": "UserJoinedRoom",
                        "email": '(%.Email %)',
                    }

                    socket.send(JSON.stringify(message))
                    this.openMessageDialog = false
                    this.removeMessage(notificationIndex);
                },


            },

            vuetify: new Vuetify(),
        })
    </script>

    <script>
        var onMessage = function (e) {
            var jsonContent = JSON.parse(e.data);
            var msgType = jsonContent.msgType;

            if (msgType === "UserJoinedRoom") {
                onUserJoinedRoom(jsonContent)

            } else if (msgType === "RequestAllMessages") {
                onRquestAllMessages(jsonContent)

            } else if (msgType === "RequestUsersToJoinRoom") {
                onUserJoined(jsonContent)

            } else if (msgType === "NewMessage") {
                onMessageReceived(jsonContent)

            } else if (msgType === "WebsocketOpen") {
                onSocketOpened(jsonContent)

            } else if (msgType === "OnlineStatus") {
                if (vueComponent.onlineUsers[jsonContent.username] !== undefined) {
                    vueComponent.onlineUsers[jsonContent.username] = jsonContent.status
                    Vue.set(vueComponent.rooms, 0, vueComponent.rooms[0])
                }
            } else if (msgType === "ExitRoom") {
                var message = jsonContent.email + " exited room"
                if (jsonContent.email === '(%.Email %)') {
                    message = "You exited room"
                }

                if (jsonContent.roomID === vueComponent.currentViewedRoomID) {
                    vueComponent.currentChatContent.push({
                        "type": "info",
                        "message": message
                    })
                }

            } else if (msgType === "getUsers") {
                vueComponent.usersFound = jsonContent.UsersFound;
                console.log(vueComponent.usersFound)
                console.log("DOne")
            }
        };
    </script>

    <script>
        var socket

        var connectWebsocket = function () {
            console.log("trying to open ws")
            var endpoint = "ws://"
            if (document.location.protocol === "https:") {
                endpoint = "wss://"
            }
            socket = new WebSocket(endpoint + document.location.host + "/ws");

            socket.onopen = function () {
                console.log("websocket open")
                var msg = JSON.stringify({ msgType: "WebsocketOpen" })
                socket.send(msg)

                if (vueComponent.currentViewedRoomID !== "") {
                    var message = {
                        'msgType': 'RequestAllMessages',
                        "roomID": vueComponent.currentViewedRoomID
                    }

                    socket.send(JSON.stringify(message))
                }
            };

            socket.onclose = function (e) {
                vueComponent.socketClosed = true
                setTimeout(() => {
                    connectWebsocket()
                }, (5000));
            }

            socket.onmessage = onMessage
        }

        connectWebsocket()
    </script>


    <script>
        var playAudio = new Audio('./assets/notification.mp3');

        var scrollChatToBottom = function () {
            setTimeout(() => {
                var chatcontent = document.getElementById("chatcontent");
                chatcontent.scrollTop = chatcontent.scrollHeight
            }, 0)
        }

        var onUserJoinedRoom = function (msg) {
            var roomID = msg.roomID;
            var roomName = msg.roomName;

            var message = msg.email + " Joined";
            if (msg.email === '(%.Email %)') {
                message = "You Joined";
            }

            vueComponent.chatspreview[roomID] = { "message": message, "roomName": roomName }

            // Append to rooms option if same user joined
            // else notify others in room 
            if (msg.email === '(%.Email %)') {
                vueComponent.rooms.push(roomID)
            } else {
                Vue.set(vueComponent.rooms, 0, vueComponent.rooms[0])
            }

            // Only update current chat if in view.
            if (vueComponent.currentViewedRoomID === roomID) {
                vueComponent.currentChatContent.push({ "type": "info", "message": msg.email + " Joined the room" })
            }

            vueComponent.addToRoomNotification(roomID)
            Vue.set(vueComponent.rooms, 0, vueComponent.rooms[0])
            playAudio.play();
        }

        var onRquestAllMessages = function (msg) {
            vueComponent.onlineUsers = msg.onlineUsers
            console.log(msg.onlineUsers)

            var messageArray = msg.messages
            if (messageArray === null) {
                vueComponent.currentChatContent = []
            } else {
                vueComponent.currentChatContent = messageArray
            }

            vueComponent.currentViewedRoomName = msg.roomName
            vueComponent.currentChatContentsNotLoaded = false

            vueComponent.removeFromRoomNotification(msg.roomID)

            // Show file to upload or download at the bottom of page.
            if (vueComponent.downloadInfo.roomID == msg.roomID) {
                vueComponent.currentChatContent.push({
                    "type": "fileGet",
                    "userID": '(%.Email%)',
                    "file": vueComponent.fileContent.name
                })
            }

            Vue.set(vueComponent.rooms, 0, vueComponent.rooms[0])
            scrollChatToBottom()
        }

        var onUserJoined = function (msg) {
            if (msg.userRequested === '(%.Email %)') {
                var message = {
                    "requestingUserName": msg.requesterID,
                    "requestingUserID": msg.requesterName,
                    "roomName": msg.roomName,
                    "roomID": msg.roomID,
                }

                vueComponent.messages.push(message)
                vueComponent.addToRoomNotification(msg.roomID)

            } else {
                if (msg['roomID'] === vueComponent.currentViewedRoomID) {
                    vueComponent.currentChatContent.push({
                        "type": "info",
                        "message": msg.userRequested + " Requested to join room by" + msg.requesterID
                    })

                } else {
                    vueComponent.addToRoomNotification(msg.roomID)
                }

                vueComponent.chatspreview[msg.roomID] = {
                    "message": msg.userRequested + " Requested to join the room by " + msg.requesterID,
                    "roomName": msg.roomName
                }
            }

            Vue.set(vueComponent.rooms, 0, vueComponent.rooms[0])
        }

        var onMessageReceived = function (msg) {
            var roomID = msg.roomID
            vueComponent.chatspreview[roomID].message = msg.message

            if (roomID === vueComponent.currentViewedRoomID) {
                vueComponent.currentChatContent.push({
                    "type": msg.type,
                    "message": msg.message,
                    "userID": msg.userID,
                    "time": msg.time,
                    "name": msg.name,
                })

            } else {
                vueComponent.addToRoomNotification(roomID)
            }

            if (msg.userID === '(%.Email%)') {
                scrollChatToBottom()
                return
            }

            playAudio.play();
            Vue.set(vueComponent.rooms, 0, vueComponent.rooms[0])
        }

        var onSocketOpened = function (msg) {
            if (msg.requests !== null) {
                vueComponent.messages = []
                for (var i = 0; i < msg.requests.length; i++) {
                    var data = msg.requests[i]
                    var message = {
                        "requestingUserName": data.requestingUserName,
                        "requestingUserID": data.requestingUserID,
                        "roomName": data.roomName,
                        "roomID": data.roomID,
                    }

                    vueComponent.messages.push(message)
                }
            }

            if (msg.rooms !== null) {
                vueComponent.rooms = []
                for (var i = 0; i < msg.rooms.length; i++) {
                    var data = msg.rooms[i]

                    var roomID = data.roomID
                    vueComponent.chatspreview[roomID] = {
                        "message": "",
                        "roomName": data.roomName
                    };

                    vueComponent.rooms.push(roomID)
                }
            }

            vueComponent.socketClosed = false
        }
    </script>
</body>

</html>