<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="login">

    <base target="_blank">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <title>Home</title>
    <!-- <link rel="icon" sizes="192x192" href="../../../images/webrtc-icon-192x192.png"> -->
</head>

<body>
    <div id="app">
        <v-app>
            <v-content>
                <v-container>
                    <div align="center">
                        <v-row justify="center">
                            <v-form>
                                <v-col cols="12">
                                    <v-img src="./assets/unilag.svg" contain height="300" width="300"></v-img>
                                </v-col>
                                <v-col cols="12">
                                    <span>Welcome to the University of Lagos chatting platform</span>
                                </v-col>
                                <v-col cols="12">
                                    <v-text-field v-model="email" :rules="emailRules" rounded filled required
                                        label="Email Address">
                                    </v-text-field>
                                </v-col>
                                <v-col cols="12">
                                    <v-text-field rounded filled required label="Password">
                                    </v-text-field>
                                </v-col>
                                <v-col text-align="center" cols="12">
                                    <v-btn>Log in</v-button>
                                </v-col>
                            </v-form>
                        </v-row>
                    </div>
                </v-container>
            </v-content>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                email: '',
                emailRules: [
                    v => !!v || 'email address is required for sign in',
                    v => /.+@.+\..+/.test(v) || 'email address must be valid',
                ]
            },
            vuetify: new Vuetify(),
        })
    </script>
</body>

</html>